.bkimg {
    background-image: url(/images/problem.gif); width:60%;
}

.text2 {
  font-size: 24px;
}

.img-valign {
  vertical-align: middle;
  margin-bottom: 0.75em;
}

.text1 {
  font-size: 44px;
}

